.device-detailed-title.modal-title{
    font-family: Fira Sans,sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    font-size: 18px;
    color: #000000;
}

.device-all-list-item-name{
    font-family: San Francisco,sans-serif !important;
    line-height: 24px !important;
    font-size: 16px !important;
    color: #505050 !important;
}