.custom-datepicker-input{
    background-color: white !important;
    padding: 4px 10px 4px 0px !important;
    border: 1px solid #cccccc !important;
    height: 38px !important;
    width: 120px !important;
    margin-top: 7px !important;
    margin-bottom: 6px !important;
}
.custom-datepicker-input input{
    text-indent: 10px;
}

.custom-datepicker-input input::before{
    border-bottom: 1px solid rgba(255, 254, 254, 0.42) !important;
}