.custom-datepicker-input{
    background-color: white !important;
    border: 1px solid #cccccc !important;
    height: 38px !important;
    width: 100% !important;
}
.custom-datepicker-input input{
    text-indent: 10px;
}

.custom-datepicker-input input::before{
    border-bottom: 1px solid rgba(255, 254, 254, 0.42) !important;
}
.custom-datepicker-close-icon{
    padding-top: 8px;
    padding-left: 11px;
    color: #cecece;
    background-color: white;
    height: 38px;
    margin-top: 16px !important;
    min-width: 37px;
    border: 1px solid #cccccc;
    border-left-color: white;
    cursor: pointer;
}