.sidebar-icons{
    color:#ccc4c4;
    font-size: 20px !important;
}

.sidebar-sub-icons{
    color:#ccc4c4;
    font-size: 14px !important;
}


.menu-items span{
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 14px;
    color: #FFFFFF;
}

.menu-sub-items span{
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 14px;
    color: #FFFFFF;
}

.active>div{
    background-color: rgba(0, 0, 0, 0.08);
}


.sidebar-main-div::-webkit-scrollbar {
    width: 0;
}
