.staff-sidebar-title{
    font-family: 'Fira Sans',sans-serif;
    line-height: 30px;
    font-size: 22px;
    color: #383D3E;
    font-weight: bold;
    padding: 38px 141px 21px 32px;
}

.custom-datepicker-input{
    background-color: white !important;
    padding: 4px 0px 4px 0px !important;
}
.custom-datepicker-input input{
    text-indent: 10px;
}

.custom-datepicker-input input::before{
    border-bottom: 1px solid rgba(255, 254, 254, 0.42) !important;
}

#select_components div{
    border-radius: 0 !important;
    outline: 0 !important;
}
.registeredTable::-webkit-scrollbar {
    width: 0;
}
/*.registeredTable::-webkit-scrollbar-thumb{*/
    /*background-color: red;*/
/*}*/

.unregistered_staff_active_row {
    background: #f1efef;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}
.empty_avatar {
    border-radius: 35px;
    background-color: #f37d18;
    width: 64px;
    height: 64px;
    padding: 20px 20px 20px 22px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}