.left_side_div{
    height: 100%;
    background-color: white;
    margin-left: 15px;
    margin-top: 15px;
}

.empty_avatar_detail {
    border-radius: 45px;
    background-color: #f37d18;
    width: 80px;
    height: 80px;
    padding: 28px 20px 20px 28px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: calc(100% - 50% + -42px);
}

.detail_label {
    font-family: "Fira Sans",sans-serif;
    line-height: 20px;
    font-size: 12px;
    color: #A3A3A3;
    padding-bottom: 0 !important;
}

.detail_text {
    font-family: "Fira Sans",sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: #31393C;
    padding-top: 0 !important;
}

.right_side_div{
    margin-top: 15px;
    background-color: white;
    height: 60px;
}
.finger_select_div{
    width: 100%;
    height: auto;
    /*background-color: white;*/
    margin-left: -24px;
    margin-bottom: 10px;
}
.finger_select_title{
    width: 100%;
    height: 40px;
    background: #55AB80;
    font-family: "Fira Sans",sans-serif;
    line-height: 24px;
    font-size: 14px;
    color: #FFFFFF;
    padding-left: 24px;
    padding-top: 8px;
    font-weight: 600;
}
.finger_select_radio_content{
    padding-left: 23px;
    height: 40px;
    background-color: white;
    padding-top: 10px;
    margin-top: 2px;
}
.finger_select_radio_btn{
    float: right;
    padding-top: 0 !important;
}
.finger_code_down_img {
    float: right;
    margin-right: 15px;
    margin-top: 8px;
}
.finger_code_area{
    height: 224px;
    width: 100%;
    margin-top: 10px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 4px;
}
.finger_code {
    margin-left: 16px;
    margin-top: 16px;
}
.finger_trash_icon {
    position: absolute;
    right: 18px;
}
.finger_hand_tabs{
    margin-left: -20px;
    margin-right: -24px;
    margin-top: -24px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    padding-bottom: 20px;
}
.finger_icon {
    margin-top: 10px;
    padding-left: 16px;
}
.finger_device_btn {
    width: 100%;
    height: 40px;
    background: #E9E9E9;
    mix-blend-mode: normal;
    opacity: 0.9;
    border-radius: 4px;
    margin-top: -5px;
    font-family: "Fira Sans",sans-serif;
    line-height: 16px;
    font-size: 12px;
    color: #505050;
    font-weight: bold;
    padding-top: 12px;
    padding-left: 10px;
    cursor: pointer;
}
.finger_device_close_icon {
    float: right;
    margin-right: 10px;
    cursor: pointer;
    width: 12px;
    margin-top: 2px;
}
.active_finger_device_btn {
    background: #55AB80;
    color: #FFFFFF;
}
.finger_register_page_title{
    margin-left: 15px !important;
    background-color: white;
    margin-top: 15px !important;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    font-family: "Fira Sans",sans-serif;
    line-height: 32px;
    font-size: 22px;
    color: #505050;
    font-weight: bold;
}
.finger_device_select {
    height: auto;
    margin-top: 10px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 4px;
    position: absolute;
    background-color: #deedf1;
    width: calc(42% - 36px);
    /*top: 70%;*/
    bottom : calc(100% - 568px);
    max-height: 224px;
    overflow-y: auto;
}
.finger_device_select_element{
    margin-top: 4px;
    margin-left: 6px;
    margin-right: 4px;
    border-radius: 4px;
    height: 30px;
    background: #69CB9D;
    padding-top: 4px;
    padding-left: 12px;
    color: white;
    font-family: "Fira Sans",sans-serif;
    cursor:pointer;
}
.finger_device_select_element:hover{
    background-color: #55ab7f;
    box-shadow: 1px 2px 1px 1px #a1c1b7;
}
.finger_device_select_element_selected{
    margin-top: 4px;
    margin-left: 6px;
    margin-right: 4px;
    border-radius: 4px;
    height: 30px;
    padding-top: 4px;
    padding-left: 12px;
    color: white;
    font-family: "Fira Sans",sans-serif;
    cursor:not-allowed;
    background-color: #55ab7f;
}
.register_finger_code_title {
    margin-left: 6px;
    font-family: "Fira Sans",sans-serif;
    line-height: 24px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}
.register_finger_code_list {
    margin-top: 5px !important;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 4px;
}

.register_finger_code_list_icon {
    position: absolute;
    right: 14px;
    color : #ffffff
}
.css-xwjg1b{
    /*background-color: #55AB80 !important;*/
    /*color : white;*/
    height: 28px;
}
.css-12jo7m5{
    /*color: white !important;*/
    margin-top: 3px;
}
/*.finger_selector {*/
    /*width: 70px;*/
    /*height: 70px;*/
    /*background-color: #ffff0052;*/
    /*border-radius: 35px;*/
    /*z-index: 9;*/
/*}*/

.selected_finger_img{
    width : 65px
}