
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/FiraSans-Regular.otf'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
  url('./assets/fonts/FiraSans-Regular.otf') format('truetype') /* Safari, Android, iOS */
}

html , body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Fira Sans,sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#root{
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 991px) {
  body,
  html {
    position: relative;
    overflow-x: hidden;
  }

  #bodyClick {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    top: 0;
    left: auto;
    right: 260px;
    content: "";
    z-index: 9999;
    overflow-x: hidden;
  }
}

.Select-option.is-selected { display: none; }

button:focus {
  outline: 0 !important;
}
input.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #E9E9E9;
  outline: 0;
  box-shadow: none;
}
button:hover {
  outline: 0 !important;
}
.active>div {
  background-color: #17191a !important;
  width: 96px;
  /*margin-left: -16px;*/
  margin-top: -4px;
  border-left: 4px solid #55ab80;
  padding-top: 4px;
  margin-bottom : 4px;
}
.addRoleStyleInput::placeholder {
  font-family: "Fira Sans",sans-serif;
  line-height: 16px;
  font-size: 15px;
  color: #e2e2e2;
}